<!DOCTYPE html5>
<html>
	<head>
		<title>Some form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../resources/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../resources/bootstrap-theme.css" >
		<script type="text/javascript" src="../resources/bootstrap.min.js"></script>

		<!-- For calendar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href="../resources/datepicker.min.css" rel="stylesheet" type="text/css">
		<script src="../resources/datepicker.min.js"></script>
		<script src="../resources/i18n/datepicker.en.js"></script>

		<!-- For serialization -->
		<script type="text/javascript" src="../resources/jquery.serializejson.js"></script>

    <script type="text/javascript" src="../resources/reporterlibrary.js"></script>

		<style>
				html, body {
					height: 100%;

				}
				.wrapper{
					padding: 5%;
					background-color: 66ccff;
				}
				.move-in-center {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
				}
		</style>
    <script>
      var submitButton = document.mainForm.submit;
      submitButton.addEventListener("click", sendForm);
    </script>
	</head>
	<body>
	<div class="main">
	<div class="wrapper container move-in-center">
		<form class="form-horizontal" name="mainForm" id="mainForm" method="POST" action="http://localhost/">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Required"/>
				</div>
			</div>
			<div class="form-group">
				<label for="date" class="col-sm-2 control-label">Date</label>
				<div class="col-sm-10">
					<input type="text" class="datepicker-here form-control" id="date" name="date" placeholder="Required" />
				</div>
			</div>
      <div id="somearea" class="form-group">
          <input type="hidden" id="default-id" value="0">

      </div>
      <div class="col-sm-10 form-group">
        <input type="text" class="form-control" id="name" name="name" onfocus="setTimeout(addInput, 1000);" placeholder="Click to add new field"/>
      </div>
      <div class="form-group ">
        <button onclick="addField();" type="button" class="btn btn-success">Submit</button>
			</div>

      <input type="hidden" name="count" value="0">
		</form>
	</div>
	<div id="printBlock"></div>
</div>
	</body>
</html>
