<!DOCTYPE html5>
<html>
	<head>
		<title>Some form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../resources/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../resources/bootstrap-theme.css" >
		<script type="text/javascript" src="../resources/bootstrap.min.js"></script>

		<!-- For calendar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href="../resources/datepicker.min.css" rel="stylesheet" type="text/css">
		<script src="../resources/datepicker.min.js"></script>
		<script src="../resources/i18n/datepicker.en.js"></script>

		<!-- For serialization -->
		<script type="text/javascript" src="../resources/jquery.serializejson.js"></script>

    <script type="text/javascript" src="../resources/reporterlibrary.js"></script>

		<style>
				html, body {
					height: 100%;
				}
				.move-in-center {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
				}
		</style>
    <script>
      var submitButton = document.mainForm.submit;
      submitButton.addEventListener("click", sendForm);
    </script>
	</head>
	<body>
	<div class="wrapper container move-in-center" id="somearea">
		<button onclick="getTextFromServer();" type="button" class="btn btn-success">Submit</button>
	</div>
	<div id="printBlock"></div>

	</body>
</html>
