html{
	height: 100%;
}
body{
        font-family: Verdana, Verdana, Geneva, sans-serif;
        background-color: #66ccff;
		height: 86%
    }
		a:link, a:active, a:visited{
			color: #000;
		}
		.wrapper{
          height: 100%;
          width: 94%;
          margin: 3% 3% 0 3%;
          background:#ffffff; /* фон блока */
          /*border: 3px #CCCCCC solid; /* стили рамки */
          -moz-border-radius: 30px; /* закругление для старых Mozilla Firefox */
          -webkit-border-radius: 30px; /* закругл. для старых Chrome и Safari */
          -khtml-border-radius:30px; /* закругл. для браузера Konquerer системы Linux */
          border-radius: 30px; /* закругление углов для всех, кто понимает */
          padding: 20px; /* внутренние отступы */
		}
        .footer{
          margin: 1% 0 0.5%;
          text-align: center;
        }
		.logo-text{
			font-size: 36pt;
			text-align: center;
			font-family: "Arial Rounded MT"
		}
        .team-logo{
          font-family: "Forte"
        }
		.button-yellow{
			background:#ffdf6b; /* фон блока */
			border: 5px #ffcc66 solid; /* стили рамки */
			-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
			-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
			-khtml-border-radius: 10px; /* закругл. для браузера Konquerer системы Linux */
			border-radius: 10px; /* закругление углов для всех, кто понимает */
			padding: 5px; /* внутренние отступы */
			text-align: center;
			font-size: 24pt;
			font-family: "Arial Rounded MT"
		}
		.button-green{
			/* green button */
		}
		.button-red{
			/* red button */
		}
		.input-text{
			border: 5px #ffcc66 solid;
			-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
			-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
			-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
			border-radius: 10px; /* закругление углов для всех, кто понимает */
			padding: 5px; /* внутренние отступы */
		}